.navBg {
    background-color: #000324;
}

.nav>.active>a {
    border-style: 10px solid;
    border-width: medium;
    border-color: #E5FEFF;
}

.navText {
    margin-top: 70px;
}

.font {
    font-family: Dosis;
    font-size: 20px;
    color: #E5FEFF;
}

.fontSans {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    color: #E5FEFF;
}

.font2
{
    margin-left: 0;
    padding-top: 100px;
    font-family: Dosis;
    font-size: 30px; 
    color: #1A1B26;
}

.font3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px; 
    color: #1A1B26;
}

.roomFont {
    font-family: Dosis;
    font-size: 25px;
    color: white;
}

.cardFont {
    font-family: Dosis;
    font-size: 25px;
    color: #1A1B26;
}

.packagesFont {
    font-family: Dosis;
    font-size: 35px;
    color: #1A1B26;
}

.textMargins {
    text-align: center;
}

.bgImage {
    background-image: url(../assets/header.jpg);
    background-repeat: no-repeat;
    background-size: 110% 200%;
    background-position: center;
}

.box {
    background-color: #000324;
    border: 1px solid black;
    opacity: 0.8;
    filter: alpha(opacity=60);
    margin-top: 150px;
    margin-bottom: 150px;
    padding-top: 60px;
    padding-bottom: 60px;
    /* padding-left: 70px;
    padding-right: 70px; */
}

.hamHome {
    padding-top: 100px;
    margin-left: 150px;
    width: 150%;
    height: 80%;
}

.awardImage {
    width: 160px;
    height: 140px;
}

.genImage {
    width: 190px;
    height: 170px;
}

.bgImage2 {
    background-image: url(../assets/bg2.jpg);
    background-repeat: no-repeat;
    background-size: 110% 190%;
    background-position: center;
}

.roomCards {
    padding-top: 10px;
    padding-bottom: 100px;
}

.card {
    border-radius: 0;
    width: 150%;
}

.btn {
    background-color: #004CC7;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    border-radius: 0;
    padding-left: 30px;
    padding-right: 30px;
}

.hamster {
    margin-left: 60px;
    width: 100%;
    height: 81%;
    object-fit: cover;
    object-position: top;
}

.hamsterMarginLeft {
    margin-left: 115px;
}

.packageBlue {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #1F51A8;
}
