.textMargins {
    text-align: center;
}

body {
    overflow-x: hidden;
}

/* NAVBAR START */
.navBg {
    background-color: #000324;
}

.border {
    margin-bottom: 10px;
    padding: 1px;
    border: 5px solid;    
    border-color: #E5FEFF;
}

.font {
    font-family: Dosis;
    font-size: 20px;
}

.navMedText {
    font-family: Dosis;
    font-size: 15px;
}

.navText {
    margin-top: 70px;
}
/* NAVBAR END */


/* HEADER START */

.headerFont {
    font-family: Dosis;
    font-size: 45px;
    color: #E5FEFF
}

.fontSans {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #E5FEFF;
}

.font2
{
    margin-left: 0;
    padding-top: 100px;
    font-family: Dosis;
    font-size: 30px; 
    color: #1A1B26;
}

.font3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px; 
    color: #1A1B26;
}

.packagesFont {
    font-family: Dosis;
    font-size: 35px;
    color: #1A1B26;
}

.bgImage {
    background-image: url(../assets/header.jpg);
    background-repeat: no-repeat;
    background-size: 110% 200%;
    background-position: center;
}

.box {
    background-color: #000324;
    border: 1px solid black;
    opacity: 0.8;
    filter: alpha(opacity=60);
    margin-top: 150px;
    margin-bottom: 150px;
    padding-top: 60px;
    padding-bottom: 60px;
}
/* HEADER END */

/* AWARDS START */
.hamHome {
    padding-top: 110px;
    margin-left: 150px;
    width: 150%;
    height: 80%;
    object-fit: cover;
    object-position: center;
}

.hamHome2 {
    width: 50%;
    height: 90%;
    object-fit: cover;
    object-position: center;
}

.awardImage {
    width: 160px;
    height: 140px;
}

.genImage {
    width: 190px;
    height: 170px;
}
/* AWARDS END */


/* CARDS START */
.bgImage2 {
    background-image: url(../assets/bg2.jpg);
    background-repeat: no-repeat;
    background-size: 110% 190%;
    background-position: center;
}

.cardImage {
    object-fit: cover;
    object-position: center;
}

.cardFont {
    font-family: Dosis;
    font-size: 25px;
    color: #1A1B26;
}

.roomFont {
    font-family: Dosis;
    font-size: 25px;
    color: white;
}

.roomCards {
    padding-top: 10px;
    padding-bottom: 100px;
}

.card {
    border-radius: 0;
    width: 150%;
}

.btn {
    background-color: #004CC7;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    border-radius: 0;
    padding-left: 30px;
    padding-right: 30px;
}
/* CARDS END */


/* PACKAGES START */
.hamster {
    margin-left: 65px;
    width: 100%;
    height: 98%;
    object-fit: cover;
    object-position: center;
    margin-bottom: -60px;
}

.hamsterMed {
    margin-left: 10px;
    width: 100%;
    height: 98%;
    object-fit: cover;
    object-position: center;
    margin-bottom: -60px;
}

.hamster2 {
    padding-top: 10px;
    width: 100%;
    height: 98%;
    object-fit: cover;
    object-position: center;
    margin-bottom: -60px;
}

.hamsterMarginLeft {
    margin-left: 115px;
}

.hamsterMarginLeft2 {
    padding-top: 10px;
    margin-left: 130px;
}

.packageBlue {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #1F51A8;
}

.packageFont {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #1A1B26;
}
/* PACKAGES END */


/* AMENITIES START */
.bgImage3 {
    background-image: url(../assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: 110% 150%;
    background-position: center;
}

.amenFont {
    font-family: Dosis;
    font-size: 35px;
    color: #FFFFFF;
}

.amenFont2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}

.flex {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.amenFontBold {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: #FFFFFF;
}
/* AMENITIES END */

/* RESERVE START */
.hamReserve {
    width: 100%;
    height: 80%;
    object-fit: cover;
    object-position: bottom;
}

.box2 {
    background-color: #000324;
    /* padding-top: 150px;     */
}

.flex2 {
    display: flex;
    justify-content: center;
}

.searchBar {
    height: 40px;
    width: 160px;
    border-radius: 0;
}

.reserveBar {
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
}

.checkBtn {
    background-color: #006EDB;
    border: 2px solid #000DC7;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

.checkIn {
    margin: 0px 8px 0px 0px;
    padding: 6px 12px;
}
/* RESERVE END */

/* FOOTER START */
.center {
    margin-left: 41%;
    margin-right: auto;
}


/* FOOTER END */